aiofiles==0.5.0
aniso8601==7.0.0
apache-bookkeeper-client==4.13.0
async-exit-stack==1.0.1
async-generator==1.10
bleach==3.1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dnspython==2.1.0
docutils==0.16
email-validator==1.1.2
fastapi==0.63.0
fastavro==0.24.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==0.4.15
grpcio==1.27.2
h11==0.12.0
httptools==0.1.1
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.15.1
keyring==21.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
neovim==0.3.1
numpy==1.18.4
olefile==0.46
orjson==3.5.1
pandas==1.0.3
Pillow==8.0.0
pkginfo==1.5.0.1
prometheus-client==0.9.0
promise==2.3
protobuf==3.15.6
pulsar-client==2.7.0
pydantic==1.8.1
Pygments==2.6.1
pymmh3==0.0.5
pynvim==0.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
python-multipart==0.0.5
pytz==2020.1
PyYAML==5.4.1
ratelimit==2.2.1
readme-renderer==26.0
requests==2.25.1
requests-toolbelt==0.9.1
Rx==1.6.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
spotipy==2.12.0
starlette==0.13.6
threadpoolctl==2.0.0
tornado==6.0.4
tqdm==4.45.0
twine==3.1.1
typing-extensions==3.7.4.3
ujson==3.2.0
urllib3==1.25.9
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
webencodings==0.5.1
websockets==8.1
zipp==3.1.0
